* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


body {
    margin: 10px;
    height: 0px;
    width: 100%;
    font-family: 'playfair display', !important;
    overflow-x: hidden;
    /* background-color: blueviolet; */
}

.playfair-font {
    font-family: 'playfair display', serif;
    /* font-size: 80px; */
    line-height: 80px;
}

.secondary-font,
p {
    font-family: 'outfit', sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

.offer-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30px;
    color: white;
    background-color: #006039;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navbar-links a:hover {
    font-weight: bold;

}
.container {
    width: 100%;
    border: 2px solid black;
}

.hero_section {
    position: relative;
    width: 100%;
    height: auto;
}

.hero-image {
    width: 100%;
    height: auto;
    background-color: black;

}

.hero-image img {
    width: 100%;
    height: auto;
}


.hero-content {
    display: flex;
    flex-direction: column;
    position: absolute;
     /* top: 50%;
    /* left: 0%; */
    transform: translate(-50%, -50%); 
    /* width: 480px; */
    gap: 10px;
}

.btn-default {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 12px 20px;
    background-color: #006039;
    color: white;
    transition: all 0.3s ease;
}
.btn-default:hover {
    background-color: #004d29;
    border-radius: 12px;
}

.explore_category {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
    padding: 0px 80px;
}

.category-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width:space-around;
    height:fit-content;
    overflow: visible;
    /* border: 2px solid blue; */

}

.category-card {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: fit-content;
    /* border: 2px solid red; */
}

.category-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.category-card img:hover {
    transform: scale(1.03);
    transition: all 0.5s ease;
}
.dealday {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.dealday img{
    position: relative;
    width: 100%;
    height: auto;
}
.dealday-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    /* width: 480px; */
    gap: 20px;
    top: 30%;
    left:10%;
}

/* testimonial */
.testimonial_section {
    padding: 0px 80px;
}
.testimonial-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    /* align-items: center; */
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
figure.snip1390 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 5px;
  /* min-width: 100px;
  max-width: 315px; */
  width: 300px;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #2C3447;
  padding: 20px;
  background-image: linear-gradient(-25deg, #004d2933 0%, #00ff371a 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #A6A57A;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px;
    margin-top: 80px;
    background-color: #006039;
}
.footer-contents{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    width: 100%;
}
.footer-content-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    font-size: 24px;
}
.social-media {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    color: white;
}
.social-icons {
    display: flex;
    flex-wrap:wrap;
    gap: 15px;
}
.copyright {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 18px;
}

/* collection page */

.hero-collection-section{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 80px;
}
.hero-collection-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); 
    /* color: white; */
}
/* .Search-input {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    font-size: 16px;
} */

/* .input-boxes {
    display: flex;
    gap: 10px;
} */
/* .filter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    background-color: #ffffff;
} */

/* Input + Filter icon */
.input-boxes {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.Search-input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #006039;
    border-radius: 8px;
}

.filter-box-icon {
    padding: 10px 12px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
}

/* Filter Panel */
#filterPanel{
    position: absolute;
    top: 70%;
    width: 90%;
    transform: translate(-50%, -50%); 
    border: #000000 2px solid;
}



.filter-panel {
    display: none; /* hidden by default */
    background: #fff;
    padding: 20px;
    width: 100%;
    
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-top: 10px;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.option {
    padding: 8px 15px;
    border: 1px solid #ddd;
    background: #f3f3f3;
    cursor: pointer;
    border-radius: 6px;
}

.option.active {
    background: black;
    color: white;
    border-color: black;
}

/* Responsive */

@media screen and (max-width: 600px) {
    .input-boxes {
        flex-direction: row;
    }

    .filter-options {
        gap: 8px;
    }
    .testimonial_section{
        padding: 0px 20px;
    }
.footer{
    padding:20px;
}
}


